[submodule "addons/scaffolder"]
	path = addons/scaffolder
	url = https://github.com/SnoringCatGames/scaffolder.git
	update = merge
[submodule "addons/surfacer"]
	path = addons/surfacer
	url = https://github.com/SnoringCatGames/surfacer.git
	update = merge
[submodule "addons/squirrel_away"]
	path = addons/squirrel_away
	url = https://github.com/SnoringCatGames/squirrel_away.git
	update = merge
[submodule "addons/surface_tiler"]
	path = addons/surface_tiler
	url = https://github.com/SnoringCatGames/surface_tiler.git
